@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
    box-sizing: border-box;
}
body {
    background: url('https://source.unsplash.com/A6oWjmW1M3g/1920x1280') repeat top center/cover;
    color: lightgray;
    font-family: 'Montserrat', sans-serif;
    min-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 1rem 1rem 0 0; 
}
h1 {
    margin: .5em;
}
h3 {
    text-align: center;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(45, 45, 45);
    min-width: 350px;
    min-height: 75vh;
    border-radius: 10px;
    padding-bottom: 1rem;
}
#new-item {
    width: 200px;
    height: 32px;
    padding-right: 0px;
}
#submit-btn {
    background-color: slategray;
    height: 34px;
    width: 34px;
    margin-left: -6px;
    border-radius: 0 5px 5px 0;
}
.task {
    display: grid;
    grid-template-columns: 80% repeat(3, 1fr);
    background-color: rgb(65, 65, 65);
    padding-left: 3px;
    margin-bottom: 3px;
    border-radius: 5px;
}
.button {
    padding-left: .25em;
    padding-right: .25em;
}
.button:hover {
    cursor: pointer;
}
.todo, #todo-head {
    color: lightgray;
}
.todone, #todone-head {
    color: greenyellow;
}
.tolater, #tolater-head {
    color: orange;
}
#text {
    font-size: 2em;
}
.delete {
    color: red;
}
.done {
    color:greenyellow;
}
.later {
    color: orange;
}
progress[value] {
    appearance: none;
    background-color: red;
    border-radius: 5%;
    box-shadow: 0 .5em 1em rgba(0, 0, 0, 0.25) inset;
    margin: 1em;
    height: 1em; 
    width: 15em;
}
progress[value]::-webkit-progress-bar {
    background-color: red;
    border-radius: 5%;
    box-shadow: 0 .5em 1em rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
    background-color: greenyellow;
    border-radius: 5%;
    box-shadow: 0 .5em 1em rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-moz-progress-bar {
    background-color: greenyellow;
    border-radius: 5%;
    box-shadow: 0 .5em 1em rgba(0, 0, 0, 0.25) inset;
}
